/* Your styles here */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* .open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
  box-sizing: border-box;
}

body {
  color: #393d41;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
  text-align: center;
}

h1,
h3 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

h2,
button,
i {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

/* HEADER */
header {
  background-color: black;
  padding-block: 1rem;
  padding-left: 2.5rem;
  text-align: left;
}

header img {
  width: 110px;
}

/* MAIN */
.s1,
.s2 {
  font-size: 0.7rem;
}

.s1,
.s2,
.s3,
.s4 {
  padding-inline: 2rem;
}

.s1,
.s3,
.s4 {
  padding-block: 4.5rem;
}

.paragraph h3 {
  margin-bottom: 0.8rem;
}

/* MAIN - SECTION 1 */
.s1 {
  width: 100%;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: 50% -2%;
  font-weight: 600;
  padding-inline: 12rem;
}

.s1 div {
  padding-block: 2.5rem;
  padding-inline: 3rem;
}

h1 {
  font-size: 1.3rem;
  line-height: 1;
  margin-bottom: 0.8rem;
}

button {
  background-color: #f04c2f;
  padding-block: 0.6rem;
  padding-inline: 1rem;
  border: none;
  border-radius: 5px;
  margin-top: 1.3rem;
  font-size: 0.5rem;
}

/* MAIN - SECTION 2 */
.s2 {
  padding-block: 6rem;
}
.s2 div {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
}

.s2 .paragraph {
  width: 100%;
  text-align: left;
}
.s2 h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.s2 img {
  width: 80%;
  border-radius: 50%;
}

/* MAIN - SECTION 3 */
.s3 {
  background-color: #e22d0e;
  color: white;
}

.s3 h2 {
  font-size: 1.2rem;
}

.quote {
  font-size: 1.1rem;
  font-style: italic;
  margin-block: 0.7rem;
  font-weight: 300;
}

.author {
  font-size: 0.8rem;
  font-weight: 300;
}

.role {
  font-size: 0.5rem;
  font-weight: 300;
}

/* MAIN - SECTION 4 */
.s4 {
  font-size: 0.6rem;
  padding-bottom: 6rem;
}

.card {
  display: inline-block;
  border: 1px solid #dee1e3;
  margin-right: 1.5rem;
  padding-bottom: 1.2rem;
  width: 28%;
}

.card:last-child {
  margin-right: 0;
}

.card img {
  width: 100%;
}

.card h3 {
  margin-block: 0.5rem;
}

.card p {
  padding-inline: 0.5rem;
}

/* FOOTER */

footer {
  background-color: #25a2c3;
  padding-block: 1rem;
}

.footer {
  display: inline-block;
}
.footer,
.footer a {
  color: #c8e7f0;
  font-size: 0.7rem;
  text-align: center;
}

.footer p,
.footer p a {
  font-size: 0.5rem;
}

.footer ul,
.footer p {
  padding-block: 1rem;
}

.footer ul {
  list-style-type: none;
  border-bottom: 1px solid;
  text-align: left;
}

.footer p {
  display: inline-block;
}

footer h2 {
  font-size: 1.9rem;
  padding-top: 1rem;
}
