/* Your styles here */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* .open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
  box-sizing: border-box;
}

body {
  color: #393d41;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
  text-align: center;
}

h1,
h3 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

h2,
button {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  /* } aggiungi icone */
}

h2 {
  font-size: 2.2rem;
}

ul {
  color: #c8e7f0;
}

/* HEADER */
header {
  background-color: black;
  padding: 2rem;
}

header img {
  width: 160px;
}

/* MAIN */
.s1,
.s2 {
  padding-inline: 2.5rem;
}

.s3,
.s4 {
  padding-inline: 2rem;
}

.s1,
.s3 {
  padding-top: 4rem;
  padding-bottom: 2.5rem;
}

.s2,
.s4 {
  padding-block: 4rem;
}

.paragraph h3 {
  margin-bottom: 0.8rem;
}

/* MAIN - SECTION 1 */
.s1 {
  background-image: url(../images/banner.jpg);
  background-size: cover;
} /*  modifica immagine */

h1 {
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 1rem;
}

button {
  background-color: #f04c2f;
  padding-block: 1rem;
  padding-inline: 2rem;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
}

/* MAIN - SECTION 2 */

/* MAIN - SECTION 3 */
.s3 {
  background-color: #e22d0e;
  color: white;
}

.quote {
  font-style: italic;
  margin-block: 2rem;
}

.author {
  font-size: 1.5rem;
}

.role {
  font-size: 1rem;
}

/* MAIN - SECTION 4 */

.card {
  border: 1px solid #dee1e3;
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
}

.card img {
  width: 100%;
  margin-bottom: 1rem;
}

.card p {
  padding-inline: 1rem;
}
